/node_modules
package-lock.json
package.json

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Flask
instance/
.webassets-cache

# VS Code
.vscode/

# Environment Variables
.env
*.env

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache
*.cover
*.log

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Local virtual environment
venv/
env/
ENV/
